[build]
  command = "npm run build --prefix client"   # অথবা frontend
  publish = "client/build"                    # অথবা frontend/build
  functions = "functions"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
